@charset "utf-8"
@import tailwindcss

@import _vars

@import base/base

@import components/sidebar

@import layout/login

:root
  --background: #ffffff
  --foreground: #171717

@media (prefers-color-scheme: dark)
  :root
    --background: #0a0a0a
    --foreground: #ededed

body
  background: var(--foreground)
  color: var(--background)
  font-family: Roboto, Arial, Helvetica, sans-serif
